.email-body
  %p.username= "Hi " + @user.email
  .body
    %p Thanks for registering! To confirm registration click the link below.

    %p= link_to confirm_email_users_url(token: @user.confirm_token), confirm_email_users_url(token: @user.confirm_token)
    %p Not you? Ignore this email.
