%footer.default
  .outer-menu
    .table
      %ul.social-media
        %li Follow me:
        %li
          = link_to "https://github.com/lukepfeiffer" do
            %i.fa.fa-github
        %li
          = link_to "http://lukerpfeiffer.com" do
            %i.fa.fa-globe
        %li
          = link_to "https://www.linkedin.com/in/lukerpfeiffer/" do
            %i.fa.fa-linkedin-square
        %li
          = link_to "https://www.facebook.com/luke.pfeiffer.7" do
            %i.fa.fa-facebook-square
