#about
  = render 'logo'
  .subsection
    %h1.large My Goal
    %p The goal of this application is to make budgeting easier for college students. As a student going into his second year of university, budgeting was tough. I had resorted to using a spreadsheet and manually inputting data. This application solves the struggle I had managing my money.
  .subsection
    %h1.large What is the MoneyTracker
    %p The MoneyTracker is a budgeting service that autopopulates your budget based on a "paycheck" (any source of income) and a "category" with a defined percentage of income. By defining a category, everytime you add a paycheck, all of your categories' amounts will be updated accordingly.
    %p.last Optionally, you can turn this functionality on or off by updating your status with the application. This will allow you to create categories and manually input how much money each category should have.
= render "footer"
