.basic-page#about
  %h1 Welcome to the Money Tracker
  %p This is a web application that helps you budget you money. Some key features include:
  %ul
    %li Creating categories to "put" money into
    %li Adding and remove funds as needed
    %li Viewing history of spending
  %p
    Feel free to check out an example here
    %span= link_to 'Example', example_categories_path

  %p
    = link_to 'Click', new_user_path
    here to sign up or sign in
