%tr.table-row
  %td= record.created_at.strftime("%-m/%d/%y %I:%M %p")
  %td= record.category.name
  - if record.amount < 0
    %td.red-record= record.amount
  - elsif record.amount >= 0
    %td.blue-record= record.amount
  %td
    %button.left.edit Edit
    %button.right.delete Delete
  %td
