@import "bourbon";
@import "base/base";
@import "neat";
@import "base/base";
@import "alerts";
@import "categories";
@import "custom_buttons";
@import "footer";
@import "forms";
@import "items";
@import "modal";
@import "money_records";
@import "nav";
@import "panels";
@import "pagination";
@import "static_pages";
@import "table";
@import "trix";
@import "users";

body#main{
  margin: 0;
  background-color: #F7F6F3;
}

#history{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#categories{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.super-container, #contact, #registration, #products, #about{
  .logo{
    img{
      width: 15%;
    }
  }
}

.hidden_form{
  display: none;
}
