/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
*/

#main{
    $background-color: #fff !default;
    $default-font: arial !default;
    $font-size: 18px;
    $border-color: darken($background-color, 40%);
    $border-field-color: darken($background-color, 55%);
    $field-border-radius: 8px;
    $default-border-radius: 10px;
    $field-height: 2.0em;
    $textarea-height: 6.0em;
    $primary-color: #008B00;
    $success-color: #28AADC;
    $danger-color: #FA3434;
    $warning-color: #FF7F00;
    $alert-error-color: #fbe3e4;
    $alert-primary-color: #e6efc2;
    $alert-success-color: #e5edf8;
    $base-spacing: 1.5em !default;

    margin: 0;
    background-color: $background-color;
    font-family: $default_font;

    label{
        font-size: $font-size;
    }

    fieldset{
        border: none;

        dt{
            padding-bottom: 0.25em;
        }

        dd{
            margin: 0;
            padding-bottom: 1.0em;
        }

        input{
            padding: 1.0em;
            border: 1px solid $border-field-color;
            font-size: $font-size;
            height: $field-height;
            border-radius: $field-border-radius;
            width: 100%;
        }

        textarea{
            padding: 1.0em;
            border: 1px solid $border-field-color;
            font-size: $font-size;
            height: $textarea-height;
            border-radius: $field-border-radius;
            width: 100%;
        }

        .small-field{
            width: 35%;
        }

    }

    button{
        padding: 10px;
        font-size: $font-size;
        background-color: white;
        font-weight: 300;
        text-transform: uppercase;
        height: 2.9rem;
        border-radius: 28px;
    }

    .pagination{
        $background-color: #D7DEF0;
        $font-color: #4D4D4D;
        text-align: center;
        margin: 5em 0 30px 0;
        a, .previous_page, .next_page, em{
          background-color: $background-color;
          text-decoration: none;
          color: $font-color;
          padding: 10px;
          border-radius: 4px;
        }

        em, .disabled{
          background-color: darken($background-color, 10%);
        }
    }

    .alert{
        display: block;
        margin-bottom: $base-spacing / 1.5;
        padding: $base-spacing / 1.5;
        text-align: center;
        width: 95%;
        border-radius: 5px;
        margin-top: 4px;
        margin-left: auto;
        margin-right: auto;
        text-transform: uppercase;
    }

    .flash-primary{
        background-color: $alert-primary-color;
        border: 1px solid darken($alert-primary-color, 16%);
        color: darken($alert-primary-color, 60%);
    }

    .flash-success{
        background-color: $alert-success-color;
        border: 1px solid darken($alert-success-color, 16%);
        color: darken($alert-success-color, 60%);
    }

    .flash-danger{
        background-color: $alert-error-color;
        border: 1px solid darken($alert-error-color, 16%);
        color: darken($alert-error-color, 60%);
    }

    .success-button{
        padding: 0 1.0em;
        color: $success-color;
        border: 0.14em solid $success-color;
        &:hover{
            cursor: pointer;
            color: darken($success-color, 10%);
            border: 0.14em solid darken($success-color, 10%);
            background-color: darken($background-color, 3%);
        }
    }

    .danger-button{
        padding: 0 1.0em;
        color: $danger-color;
        border: 0.14em solid $danger-color;
        &:hover{
            cursor: pointer;
            color: darken($danger-color, 10%);
            border: 0.14em solid darken($danger-color, 10%);
            background-color: darken($background-color, 3%);
        }
    }

    .primary-button{
        padding: 0 1.0em;
        color: $primary-color;
        border: 0.14em solid $primary-color;
        &:hover{
            cursor: pointer;
            color: darken($primary-color, 20%);
            border: 0.14em solid darken($primary-color, 10%);
            background-color: darken($background-color, 3%);
        }
        #primary-link{
            color: $primary-color;
            text-decoration: none;
            &:hover{
                color: darken($primary-color, 10%);
            }
        }
    }

    .tables {
      $base-border-color: gainsboro !default;
      $base-border-radius: 3px !default;
      $base-line-height: 1.5em !default;
      $base-spacing: 1.5em !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $light-gray: #DDD !default;
      $medium-screen: 40em !default;
      $large-screen: 53.75em !default;
      $base-font-color: $dark-gray !default;
      $table-border-color: $base-border-color;
      $table-border: 1px solid $table-border-color;
      $table-background: lighten($table-border-color, 12%);
      $table-header-background: lighten($table-background, 10%);
      $table-hover-background: darken($table-background, 5%);
      $table-stripe-background: darken($table-background, 2%);
      $table-stripe-background-hover: darken($table-stripe-background, 5%);
      $table-padding: 0.75em 1em;
      $red-record-color: #9C0000;
      $blue-record-color: #005673;

      border: $table-border;
      border-collapse: separate;
      border-left: 0;
      border-radius: $base-border-radius;
      border-spacing: 0;
      width: 100%;

      tbody {
	background-color: $table-background;

	tr:hover > td, tr:hover > th {
	  background-color: $table-hover-background;
	}
	tr:nth-child(even) {
	  background-color: $table-stripe-background;
	  &:hover > td {
	    background-color: $table-stripe-background-hover;
	  }
	}
      }

      .edit{
        width: 25%;
        height: 3em;
        font-size: 12px;
        text-decoration: underline;
        color: #fff;
        border-radius: 2px;
        text-decoration: none;
        background-color: $warning-color;
        border-color: $warning-color;
        &:hover{
          background-color: darken($warning-color, 2%);
          cursor: pointer;
        }
      }

      .red-record{
        color: $red-record-color;
      }

      .blue-record{
        color: $blue-record-color;
      }

      thead:first-of-type {
	tr:first-child > th:first-child {
	  border-top-left-radius: $base-border-radius;
	}

	tr:first-child > th:last-child {
	  border-top-right-radius: $base-border-radius;
	}
      }

      tbody:last-child {
	tr:last-child > td:first-child {
	  border-bottom-left-radius: $base-border-radius;
	}

	tr:last-child > td:last-child {
	  border-bottom-right-radius: $base-border-radius;
	}
      }

      thead {
	th {
	  background-color: $table-header-background;
	  border-bottom: 0;
	  border-left: 1px solid $table-border-color;
	  padding: $table-padding;
	  text-align: left;

	  &:first-child {
	    border-left: 0;
	  }
	}
      }

      tbody {
	background-color: $table-background;

	td {
	  border-bottom: 0;
	  border-left: 1px solid $table-border-color;
	  border-top: 1px solid $table-border-color;
	  padding: $table-padding;

	  &:first-child {
	    border-left: 0;
	  }

	  button {
	    display: inline-block;
	    font-size: 0.7em;
	    line-height: $base-line-height;
	    margin-bottom: 0.3em;
	    margin-right: 0.5em;
	    outline: none;
	    padding: 0.3em 1em;
	    width: 100%;

	  }
	}
      }
    }

    #history{
      margin: 1em;

      .category-search-form{
        display: none;
      }

      .history-form{
        a{
          text-decoration: underline;
          color: darken($success-color, 13%);

          &:hover{
            color: darken($success-color, 20%);
            cursor: pointer;
          }
        }
      }

      .inline{
          width: 20%;
          margin-left: 1em;
          float: left;
          input, .category-select{
            height: 2.0em;
            border-radius: 0px;
            padding: 5px 0 0 1em;
            border: 1px solid $border-field-color;
            background-color: darken(#fff, 4%);
            &:hover{
                background-color: darken(#fff, 8%)
            }
          }
      }
      .category-select{
          font-size: $font-size;
          width: 100%;
      }
    }

    header.navigation {
      $base-border-color: gainsboro !default;
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $navigation-background: $dark-gray;
      $navigation-color: transparentize(white, 0.3);
      $navigation-color-hover: white;
      $navigation-height: 3em;

      background-color: $navigation-background;
      border-bottom: 1px solid darken($navigation-background, 10);
      min-height: $navigation-height;
      width: 100%;
      z-index: 999;
      padding: 5px;

      .navigation-wrapper {
	position: relative;
	z-index: 9999;
      }

      .logo {
	float: left;
	max-height: $navigation-height;
        padding-left: 1em;
	padding-right: 2em;

	img {
	  max-height: $navigation-height;
	  // padding: 0.8em 0;
	}
      }

      .navigation-menu-button {
	color: $navigation-color;
	display: block;
	float: left;
	line-height: $navigation-height;
	margin: 0;
	padding-right: 1em;
	text-decoration: none;
	text-transform: uppercase;

	&:focus,
	&:hover {
	  color: $navigation-color-hover;
	}
      }


      nav {
	float: none;
	min-height: $navigation-height;
	z-index: 9999999;
      }

      ul.navigation-menu {
	clear: both;
	display: none;
	margin: 0 auto;
	overflow: visible;
	padding: 0;
	width: 100%;
	z-index: 9999;

	&.show {
	  display: block;
	}

      }

      ul li.nav-link {
	background: $navigation-background;
	display: block;
	line-height: $navigation-height;
	overflow: hidden;
	padding-right: 0.8em;
	text-align: right;
	width: 100%;
	z-index: 9999;

	a {
	  color: $navigation-color;
	  display: inline-block;
	  text-decoration: none;

	  &:focus,
	  &:hover {
	    color: $navigation-color-hover;
	  }
	}
      }
    }

    fieldset.actions{
        input{
            padding: 10px;
            font-size: $font-size;
            background-color: white;
            font-weight: 300;
            text-transform: uppercase;
            height: 2.9rem;
            border-radius: 28px;
            width: 25%;
            color: $primary-color;
            border: 0.14rem solid $primary-color;
            &:hover{
                cursor: pointer;
                color: darken($primary-color, 10%);
                border: 0.14em solid darken($primary-color, 10%);
            }
        }
        #cancel{
            display: none;
        }

        .category-submit{
            width: 10%;
        }
    }

    .money-record-form{
      display: none;
      float: left;

      .number-field{
        width: 50%;
      }

      .actions{
        input{
          width: 50%;
          font-size: 15px;
          padding: 5px 0;
          height: 1.8em;
        }

        .cancel-funds{
            float: left;
        }
      }
    }

    .number-field{
        width: 25%;
        border-radius: $default-border-radius;
    }

    .hidden-form{
        display: none;
        width: 50%;
    }

    #categories{
        margin: 1em;
        #add-category{
            margin-bottom: 2em;
            margin-left: 1.3em;
        }

	.category {
	    width: 30%;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
            float: left;
            padding-bottom: 1em;
	}

        .card {
            $base-border-color: gainsboro !default;
            $base-border-radius: 3px !default;
            $base-background-color: white !default;
            $base-spacing: 1.5em !default;
            $action-color: #477DCA !default;
            $dark-gray: #333 !default;
            $base-font-color: $dark-gray !default;
            $card-border-color: $base-border-color;
            $card-border: 1px solid $card-border-color;
            $card-background: lighten($card-border-color, 10%);
            $amount-background: $card-background;
            $card-margin: 1em;
            $category-name-hover-opacity: 0.7;
            $category-name-hover-color: #F8F2B4;

            background-color: $card-background;
            border: $card-border;
            border-radius: $base-border-radius;
            box-shadow: 0 2px 4px darken($base-background-color, 10%);
            cursor: pointer;
            flex-basis: 15em;
            flex-grow: 1;
            margin: 0 $card-margin $base-spacing $card-margin;
            position: relative;
            transition: all 0.2s ease-in-out;
	    .category-name {
		background-color: $category-name-hover-color;
                text-align: center;
		height: 150px;
		max-height: 150px;
		overflow: hidden;
	    }

	    .amount {
		background-color: $amount-background;
		border-bottom: $card-border;
		border-radius: $base-border-radius $base-border-radius 0 0;
		font-weight: bold;
		line-height: 1.5em;
		padding: ($base-spacing / 3) ($base-spacing / 2);
		transition: all 0.2s ease-in-out;
	    }

	    .card-copy {
	        font-size: 0.9em;
	        line-height: 1.5em;
	        padding: ($base-spacing / 2) ($base-spacing / 2);

	        p {
		    margin: 0 0 ($base-spacing / 2);
		}

                .actions{
                    width: 100%;
                    button{
                        font-size: 0.9em;
                        height: 2em;
                        padding: 0px 15px;
                        border-radius: 24px;
                        margin-bottom: 5px;
                    }

                    .edit-funds{
                        float: left;
                        color: $success-color;
                        border: 0.14em solid $success-color;
                        &:hover{
                            cursor: pointer;
                            color: darken($success-color, 10%);
                            border: 1px solid darken($success-color, 8%);
                            background-color: darken($background-color, 2%);
                        }
                    }

                    .danger, .archive{
                        float: right;
                        color: $danger-color;
                        border: 0.14em solid $danger-color;
                        &:hover{
                            cursor: pointer;
                            color: darken($danger-color, 8%);
                            border: 0.14em solid darken($danger-color, 8%);
                            background-color: darken($background-color, 2%);
                        }
                    }
                }
	    }
	    &:focus, &:hover {
	        cursor: pointer;
	    }

	    &:active {
	        background-color: $card-background;

		.amount {
		  background-color: $card-background;
		}
	    }
        }
    }
    #sign_up{

	h1{
	    border-bottom: 1px solid lighten($border-color, 35%);
	    text-align: center;
	}

	.left{
	    border: 1px solid $border-color;
	    border-radius: $default-border-radius;
	    float: left;
	    width: 49%;
	}

	.right{
	    border: 1px solid $border-color;
	    border-radius: $default-border-radius;
	    float: right;
	    width: 49%;
	}
    }
}
