@import "bourbon";
@import "base/base";
@import "neat";
@import "base/base";
@import "nav";
@import "table";
@import "forms";
@import "pagination";
@import "sessions_page";
@import "users";
@import "footer";
@import "items";
@import "alerts";
@import "modal";
@import "categories";
@import "money_records";
@import "custom_buttons";

body#main{
  margin: 0;
  background-color: #F7F6F3;
}

#history{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#categories{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.hidden_form{
  display: none;
}
