/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
*/

#main{
    $background-color: #fff !default;
    $default-font: arial !default;
    $font-size: 18px;
    $border-color: darken($background-color, 40%);
    $border-field-color: darken($background-color, 55%);
    $field-border-radius: 8px;
    $default-border-radius: 10px;
    $field-height: 2.0em;
    $textarea-height: 6.0em;
    $primary-color: #008B00;
    $success-color: #28AADC;
    $danger-color: #FA3434;
    $warning-color: #FF9308;

    background-color: $background-color;
    font-family: $default_font;

    label{
        font-size: $font-size;
    }

    fieldset{
        border: none;

        dt{
            padding-bottom: 0.25em;
        }

        dd{
            margin: 0;
            padding-bottom: 1.0em;
        }

        input{
            padding: 1.0em;
            border: 1px solid $border-field-color;
            font-size: $font-size;
            height: $field-height;
            border-radius: $field-border-radius;
            width: 100%;
        }

        textarea{
            padding: 1.0em;
            border: 1px solid $border-field-color;
            font-size: $font-size;
            height: $textarea-height;
            border-radius: $field-border-radius;
            width: 100%;
        }

        .small-field{
            width: 35%;
        }

    }

    button{
        padding: 10px;
        font-size: $font-size;
        background-color: white;
        font-weight: 300;
        text-transform: uppercase;
        height: 2.9rem;
        border-radius: 28px;
    }

    .success-button{
        padding: 0 1.0em;
        color: $success-color;
        border: 0.14em solid $success-color;
        &:hover{
            cursor: pointer;
            color: darken($success-color, 10%);
            border: 0.14em solid darken($success-color, 10%);
            background-color: darken($background-color, 3%);
        }
    }

    .danger-button{
        padding: 0 1.0em;
        color: $danger-color;
        border: 0.14em solid $danger-color;
        &:hover{
            cursor: pointer;
            color: darken($danger-color, 10%);
            border: 0.14em solid darken($danger-color, 10%);
            background-color: darken($background-color, 3%);
        }
    }

    fieldset.actions{
        input{
            padding: 10px;
            font-size: $font-size;
            background-color: white;
            font-weight: 300;
            text-transform: uppercase;
            height: 2.9rem;
            border-radius: 28px;
            width: 25%;
            color: $primary-color;
            border: 0.14rem solid $primary-color;
            &:hover{
                cursor: pointer;
                color: darken($primary-color, 10%);
                border: 0.14em solid darken($primary-color, 10%);
                background-color: darken($background-color, 3%);
            }
        }
        #cancel{
            display: none;
        }
    }


    .number-field{
        width: 25%;
        border-radius: $default-border-radius;
    }

    .hidden-form{
        display: none;
        width: 50%;
    }

    #categories{
        #add-category{
            margin-bottom: 2em;
            margin-left: 1.3em;
        }

	.category {
	    width: 30%;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
            float: left;
	}

        .card {
            $base-border-color: gainsboro !default;
            $base-border-radius: 3px !default;
            $base-background-color: white !default;
            $base-spacing: 1.5em !default;
            $action-color: #477DCA !default;
            $dark-gray: #333 !default;
            $base-font-color: $dark-gray !default;
            $card-border-color: $base-border-color;
            $card-border: 1px solid $card-border-color;
            $card-background: lighten($card-border-color, 10%);
            $amount-background: $card-background;
            $card-margin: 1em;
            $category-name-hover-opacity: 0.7;
            $category-name-hover-color: #F8F2B4;

            background-color: $card-background;
            border: $card-border;
            border-radius: $base-border-radius;
            box-shadow: 0 2px 4px darken($base-background-color, 10%);
            cursor: pointer;
            flex-basis: 15em;
            flex-grow: 1;
            margin: 0 $card-margin $base-spacing $card-margin;
            position: relative;
            transition: all 0.2s ease-in-out;
	    .category-name {
		background-color: $category-name-hover-color;
                text-align: center;
		height: 150px;
		max-height: 150px;
		overflow: hidden;
	    }

	    .amount {
		background-color: $amount-background;
		border-bottom: $card-border;
		border-radius: $base-border-radius $base-border-radius 0 0;
		font-weight: bold;
		line-height: 1.5em;
		padding: ($base-spacing / 3) ($base-spacing / 2);
		transition: all 0.2s ease-in-out;
	    }

	    .card-copy {
	        font-size: 0.9em;
	        line-height: 1.5em;
	        padding: ($base-spacing / 2) ($base-spacing / 2);

	        p {
		    margin: 0 0 ($base-spacing / 2);
		}

                .actions{
                    width: 100%;
                    button{
                        font-size: 0.9em;
                        height: 2em;
                        padding: 0px 15px;
                        border-radius: 24px;
                        margin-bottom: 5px;
                    }

                    .add-funds{
                        float: left;
                        color: $success-color;
                        border: 0.14em solid $success-color;
                        &:hover{
                            cursor: pointer;
                            color: darken($success-color, 10%);
                            border: 1px solid darken($success-color, 8%);
                            background-color: darken($background-color, 2%);
                        }
                    }

                    .archive{
                        float: right;
                        color: $danger-color;
                        border: 0.14em solid $danger-color;
                        &:hover{
                            cursor: pointer;
                            color: darken($danger-color, 8%);
                            border: 0.14em solid darken($danger-color, 8%);
                            background-color: darken($background-color, 2%);
                        }
                    }
                }
	    }
	    &:focus, &:hover {
	        cursor: pointer;
	    }

	    &:active {
	        background-color: $card-background;

		.amount {
		  background-color: $card-background;
		}
	    }
        }
    }
    #sign_up{

	h1{
	    border-bottom: 1px solid lighten($border-color, 35%);
	    text-align: center;
	}

	.left{
	    border: 1px solid $border-color;
	    border-radius: $default-border-radius;
	    float: left;
	    width: 49%;
	}

	.right{
	    border: 1px solid $border-color;
	    border-radius: $default-border-radius;
	    float: right;
	    width: 49%;
	}
    }
}
