/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
@import "bourbon";
@import "home";
@import "users";
@import "neat";
@import "base/base";
 */

#main{
    $background-color: #fff !default;
    $default-font: arial !default;
    $font-size: 18px;
    $border-color: darken($background-color, 40%);
    $border-field-color: darken($background-color, 55%);
    $field-border-radius: 8px;
    $default-border-radius: 10px;
    $field-height: 2.0em;
    $textarea-height: 6.0em;
    $primary-color: #008B00;
    $success-color: #28AADC;

    background-color: $background-color;
    font-family: $default_font;

    label{
        font-size: $font-size;
    }

    fieldset{
        border: none;

        dt{
            padding-bottom: 0.25em;
        }

        dd{
            margin: 0;
            padding-bottom: 1.0em;
        }

        input{
            padding: 1.0em;
            border: 1px solid $border-field-color;
            font-size: $font-size;
            height: $field-height;
            border-radius: $field-border-radius;
            width: 100%;
        }

        textarea{
            padding: 1.0em;
            border: 1px solid $border-field-color;
            font-size: $font-size;
            height: $textarea-height;
            border-radius: $field-border-radius;
            width: 100%;
        }

        .small-field{
            width: 35%;
        }

    }

    button{
        padding: 10px;
        font-size: $font-size;
        background-color: white;
        font-weight: 300;
        text-transform: uppercase;
        height: 2.9rem;
        border-radius: 28px;
    }

    .success-button{
        padding: 0 1.0em;
        color: $success-color;
        border: 0.14em solid $success-color;
        &:hover{
            color: darken($success-color, 10%);
            border: 0.14em solid darken($success-color, 10%);
            background-color: darken($background-color, 3%);
        }
    }

    fieldset.actions{
        input{
            padding: 10px;
            font-size: $font-size;
            background-color: white;
            font-weight: 300;
            text-transform: uppercase;
            height: 2.9rem;
            border-radius: 28px;
            width: 25%;
            color: $primary-color;
            border: 0.14rem solid $primary-color;
        }
    }

    .number-field{
        width: 25%;
        border-radius: 30px;
    }

    .hidden-form{
        display: none;
        width: 50%;
    }

    #sign_up{

        h1{
            border-bottom: 1px solid lighten($border-color, 35%);
            text-align: center;
        }

        .left{
            border: 1px solid $border-color;
            border-radius: $default-border-radius;
            float: left;
            width: 49%;
            .content{
            }
        }

        .right{
            border: 1px solid $border-color;
            border-radius: $default-border-radius;
            float: right;
            width: 49%;
            .content{
            }
        }

    }
}
