#categories{
  margin-top: 50px;
  .container{
    display: flex;
    flex-wrap: wrap;

    .categories{
      max-width: 500px;
      min-width: 350px;
      margin-right: 10px;

      .list{
        overflow-y: scroll;
        height: 400px;
      }
    }

    .selected-category{
      width: 60vw;
    }

    .misc{

      .left{
        float: left;
      }

      .right{
        float: right;
      }
    }

  }
}
