$large-categories-screen: 1052px;
$medium-categories-screen: 600px;

@media only screen and (min-device-width: $large-categories-screen){
  #categories{
    margin-top: 50px;
    .container{
      display: flex;
      flex-wrap: wrap;

      .categories{
        min-width: 30%;
        margin-right: 10px;
        min-height: 200px;

        .list{
          min-height: 200px;
          overflow-y: scroll;
          max-height: 500px;
        }
      }

      .selected-category{
        max-width: 69%;
        .table-container{
          overflow-y: scroll;
          min-height: 300px;
          max-height: 500px;

          .tables{
            margin-top: 0;
          }
        }
      }

      .misc{

        .left{
          float: left;
        }

        .right{
          float: right;
        }
      }
    }
  }
}

@media only screen and (min-device-width: $medium-categories-screen) and (max-device-width: $large-categories-screen){
}


@media only screen and (max-device-width: $medium-categories-screen){
  .list{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;

    .item{
      width: 49.70%;
      height: 185px;
      margin-right: 5px;

      h1{
        font-size: 2em;
        color: #424242;
        font-weight: normal;
      }
    }

    .item:nth-child(even){
      margin-right: 0;
    }
  }

  .misc{
    .left{
      display: inline-block;
    }

    .right{
      text-align: right;
      display: inline-block;
    }
  }
}
