.history-filters{
  margin-top: 20px;
  text-align: center;
  label{
    display: inline;
    .modal-trigger{
      display: inline;
      padding: 0;
      color: #1565c0;
      font-weight: normal;
    }
  }
}

.records-table{
  max-height: 500px;
  overflow-y: scroll;
  tbody{
  }
}

.blue-record{
  color: $blue-record-color;
}

.red-record{
  color: $red;
}
