$large-home-screen: 1052px;
$medium-home-screen: 600px;

.super-container, .logo-container{
  .logo{
    padding-top: 10px;
    text-align: center;

    a{
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media only screen and (min-device-width: $large-home-screen){
  .super-container{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/geometric-tunnel_wjd0nkzzh__F0000.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    #sign_in{
      margin-bottom: 0;
      padding-top: 9vw;
      padding-bottom: 9vw;

      .container{
        border: 1px solid #ccc;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 25px;
        border-radius: 10px;

        input[type=submit]{
          width: 100%;
        }

        dd{
          margin-left: 0;
        }
      }
    }
  }
}

@media only screen and (min-device-width: $medium-home-screen) and (max-device-width: $large-home-screen){
}

@media only screen and (max-device-width: $medium-home-screen){
  .super-container{
    background: none;
    #sign_in{
      margin-bottom: 0;
      padding-top: 10vw;
      padding-bottom: 10vw;

      .container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        padding: 80px 25px;
        border-radius: 10px;

        input[type=submit]{
          width: 100%;
        }

        dd{
          margin-left: 0;
        }
      }
    }
  }
}
