.tables {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $base-font-color: #585759 !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: #fff;
  $table-header-background: #F9F6F3;
  $table-hover-background: darken($table-background, 5%);
  $table-stripe-background: darken($table-background, 2%);
  $table-stripe-background-hover: darken($table-stripe-background, 5%);
  $table-padding: 1.25em 1em;

  border: $table-border;
  border-collapse: separate;
  border-left: 0;
  border-radius: $base-border-radius;
  border-spacing: 0;
  width: 100%;
  color: $base-font-color;

  tbody {
    background-color: $table-background;

    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:nth-child(even) {
      background-color: $table-background;
      &:hover > td {
        background-color: $table-hover-background;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    color: #717171;
    background-color: $table-background;

    th {
      border-bottom: 0;
      border-left: none;
      padding: $table-padding;
      text-align: left;

      &:first-child {
        border-left: 0;
      }
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      padding: $table-padding;
      border-left: none;

      &:first-child {
        border-left: 0;
      }
    }
  }

  .no_upper_border{
    td{
      border-top: none;
      border-top: 1px dashed #ccc;
    }

    td:first-child{
      border: none;
    }
  }

  .entire_length{
    text-align: center;

    td{
      padding: 10px;
    }
  }
}
