.category
  .card
    .category-name
      %h1= category.name
    .amount
      = category.amount
    .card-copy
      %p= category.description
      .actions
        %button.add-funds Add
        %button.remove-funds Minus
