.category
  .card
    .category-name
      %h1= category.name
    .amount
      = category.amount
    .card-copy
      %p= category.description
      .actions
        %button.add-funds Add
        - if category.id.present?
          %button.archive{data: {url: category_path(category.id), id: category.id}} Delete
