.item{data: {id: category.id}}
  .top-container
    %h1= category.name.titleize
    .description= category.description
  .bottom-container
    - if is_negative?(category.amount)
      %p.red-record.balance= number_to_currency(category.amount)
      %p.sub-text Availible Funds
    - else
      %p.blue-record.balance= number_to_currency(category.amount)
      %p.sub-text Availible Funds
