#categories
  .container
    %ul.categories
      %h1 Archived Categories
      .list
        = render partial: 'category_container', collection: archived_categories, as: :category
    %ul.selected-category
      %h1.records_for Archived Records
      = render 'category_table', records_by_date: archived_records_by_date
